@font-face {
    font-family: poppins;
    src: url("/fonts/poppins/poppins-medium.ttf");
}

@font-face {
    font-family: poppins-light;
    src: url("/fonts/poppins/poppins-light.ttf");
}

@font-face {
    font-family: poppins-bold;
    src: url("/fonts/poppins/poppins-semiBold.ttf");
}

@font-face {
    font-family: fa-regular;
    src: url("/fonts/fa/fa-regular-400.ttf");
}

@font-face {
    font-family: fa-solid;
    src: url("/fonts/fa/fa-solid-900.ttf");
}