@font-face {
    font-family: poppins;
    src: url("/fonts/poppins/poppins-Medium.ttf");
}

@font-face {
    font-family: poppins-light;
    src: url("/fonts/poppins/poppins-Light.ttf");
}

@font-face {
    font-family: poppins-bold;
    src: url("/fonts/poppins/poppins-SemiBold.ttf");
}

@font-face {
    font-family: fa-regular;
    src: url("/fonts/fa/fa-regular-400.ttf");
}

@font-face {
    font-family: fa-solid;
    src: url("/fonts/fa/fa-solid-900.ttf");
}